.jacquard-24-regular {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

.para{
    margin: 30px;
    border: 10px solid brown;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    border: dashed;
}
th,td {
    background-color: aqua;
}

tr:nth-child(odd){
    background-color: aquamarine;
}