@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.body-bg{
  background: url("https://images.alphacoders.com/135/1350899.png") no-repeat; 
  height: 100vh;
}

.wrapper {
  width: 420px;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
