/* .transparent-box {
    background-color: rgba(248, 246, 246, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 30px; 
    padding: 2rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    width: 30%;
  } */
