.table{
    margin: 0 auto;
}
table, th, td {
    border:1px solid black;
}

.error {
    color: red; /* Example: Red text color */
    font-weight: bold; /* Example: Bold font weight */
    /* Add any other styles you want to apply */
}